/*common 공통요소*/
*{margin:0;padding:0}
ul,ol,li{list-style:none}
img{border:0;vertical-align:bottom}
body{font-size:12px;color:#333;line-height:1.5;}
.hidden{display:none}
a{text-decoration:none;color:#333}
address{font-style:normal}
fieldset{border:none}
legend,caption{display: none}
header,aside,nav,menu,section,footer,article,main{
display:block;
}

.clearfix::after{content:'';display: block;clear:both}

