@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
header,main,section,article,nav,aside,footer{display: block}
*{margin: 0;padding: 0}
ul,li,ol{list-style: none}
address{font-style: normal}
a{text-decoration: none;color:#000}
table{border-collapse: collapse}
caption{display: none}
fieldset{border:none}
legend{display: none}
.clearfix::after{content: "";display: block;clear: both}

